<p>
  <strong>Name:</strong>
  <%= @seri.name %>
</p>

<p>
  <strong>Niveau:</strong>
  <%= @seri.niveau.name %>
</p>

<%= link_to 'Edit', edit_seri_path(@seri) %> |
<%= link_to 'Back', seris_path %>
