<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Numjuri:</strong>
    <%= @juri.numjuri %>
  </p>

  <%= link_to 'Edit', edit_juri_path(@juri) %> |
  <%= link_to 'Back', juris_path %>
</div>