<h1>Portfolio Items</h1>

<a href="portfolios/new">Create Portfolio</a>
<%= link_to "Create Portfolio", new_portfolio_path if logged_in?(:site_admin) %>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>