<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Mes Cours</h1>
    <p class="lead blog-description">La liste de tous les cours publiés.</p>
    <span>
    	<%= link_to 'Faire une leçon', new_blog_path if logged_in?(:site_admin) %>
    </span>
    <span> || </span>
    <span>
    	<%= link_to 'Niveau', topics_path %>
    </span>
    
  </div>
</div>