<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">Mes Cours</h1>
    <p class="lead blog-description">La liste de tous les cours publiés.</p>
    <p class="lead">
        <h2 class="elementBlog sidebar-module sidebar-module-inset"></h2>
    </p>
    <span>
        <%if @author == "Empty" %>
            <%= link_to 'Completer mon inscription', new_author_path  %>
            <%#= link_to 'Ecrire une leçon', new_blog_path  %>
        <%elsif @author == "Exist" || @current_user.role == ":site_admin" %>
            <%= link_to 'Ecrire une leçon', new_blog_path  %>
            <%#= current_user.role  %>
        <%else%>
            
        <%end%>
    </span>
    <span>
        <%#= link_to 'Niveau', topics_path %>
    </span>
    
  </div>
</div>