<h1>Pages#about</h1>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "https://avatars1.githubusercontent.com/u/23462565?s=400&u=949e6d84d5a392f0486dd4d8419627b514366e80&v=4", width: 300, alt:"Photo Profil" %>
	</div>

	<div class="col-md-8">
		<p>Find me in app/views/pages/about.html.erbFind me in</p>

		<p>Find me in sOCIAL NETWORK</p>
		<p>Find me in sOCIAL NETWORK</p>
	</div>
</div>