<div class="app-card-container">
	<div class="card">
		<h1>About me</h1>
		<hr>

		<div class="row">
			<div class="col-md-4">
				<%#= image_tag "Me.jpeg", width: '100%', alt:"Photo Profil", class:"profile-img" %>
				<%= image_tag "https://avatars1.githubusercontent.com/u/23462565?s=400&u=ff6f97ca1b983ee92baf09c5c8db5d83cdcaa686&v=4", width: '100%', alt:"Photo Profil", class:"profile-img" %>

				<div class="skills">
					<%# @skills.each do |skill|%>
						<div class="skill">
							<h4><%#= skill.title %></h4>
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-warning"
								role="progressbar"
								aria-value="<%#= skill.percent_utilized%>"
								aria-valuemax="100"
								style="width: <%#= skill.percent_utilized%>%"></div>
							</div>
						</div>
					<% #end %>
				</div>
			</div>

			<div class="col-md-8">
				<h1>
					Etudier n'est jamais facile mais devrait être simple!
				</h1>
						<button class="btn btn-primary" 
									type="button" 
									data-toggle="collapse" 
									data-target="#jobHistory" 
									aria-expanded="false" 
									aria-controller="jobHistory" >
						Message 1
					</button>
						<button class="btn btn-primary" 
									type="button" 
									data-toggle="collapse" 
									data-target="#school" 
									aria-expanded="false" 
									aria-controller="school" >
						Message 2
					</button>
					</p>

					<p>
						<div class="collapse" id="jobHistory">
							<div class="card card-block">
								<p>Etudier doit etre simple et pragmatique</p>
							</div>
						</div>

						<div class="collapse" id="school">
							<div class="card card-block">
								<p>Allez-y tout droit à l'essentiel. Oui c'est permis!!!</p>
							</div>
							</div>
						</div>
					</p>
			</div>
		</div>	
	</div>
</div>

