<h1>Would you like to work together?</h1>

<hr>

<div class="row">
 	<div class="col-md-6">
	    <h3>Office Address</h3>

	    <p>USTB SK8Z, Building 4, Scottsdale, AZ 88888</p>

	    <h3>Phone</h3>

	    <p><%= number_to_phone "1381125383" %></p>

	    <h3>Email</h3>

	  	<p><a href="mailto:aazseck@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.849971048048!2d116.35475631536575!3d39.9894579794171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0546efbe64631%3A0xdc83f5f25266fcb6!2sUniversity+of+Science+and+Technology+Beijing!5e0!3m2!1sfr!2sus!4v1565397509782!5m2!1sfr!2sus" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
</div>