<div class="app-card-container">
	<div class="card">
		<h1>CLBK CONTACT</h1>

		<hr>

		<div class="row">
		 	<div class="col-md-4">
			    <h3>Adresse</h3>

			    <p>SK8Z CLBK, DAKAR, SENEGAL, ABDOU AZIZ 88888</p>

			    <h3>Phone</h3>

			    <p><%= number_to_phone "+221 781026837" %></p>

			    <h3>Email</h3>

			  	<p>ciilaabokk@gmail.com</p>
			</div>
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3056.849971048048!2d116.35475631536575!3d39.9894579794171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0546efbe64631%3A0xdc83f5f25266fcb6!2sUniversity+of+Science+and+Technology+Beijing!5e0!3m2!1sfr!2sus!4v1565397509782!5m2!1sfr!2sus" width="450" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
</div>