<div class="inner cover">
  <h1 class="cover-heading"><u>CLBK-EDUCATION</u></h1>
  <p class="lead">
  	<h2 class="element"></h2>
  </p>
  <p class="lead">
    <%#= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>