<p>
  <strong>Name:</strong>
  <%= @matiere.name %>
</p>

<p>
  <strong>Seri:</strong>
  <%= @matiere.seri %>
</p>

<%= link_to 'Edit', edit_matiere_path(@matiere) %> |
<%= link_to 'Back', matieres_path %>
