<div class="col-sm-8 blog-main">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Numcentre:</strong>
    <%= @centre.numcentre %>
  </p>

  <%= link_to 'Edit', edit_centre_path(@centre) %> |
  <%= link_to 'Back', centres_path %>
</div>